//UI settings.
@import "./base/variables";
@import "./base/global";
@import "./base/mixins";

//Components
@import "./components/defaultLayout";
@import "./components/header";
@import "./pages/dashboard";
@import "./components/button";
//Card
@import "./components/Card/amount";
@import "./components/Card/cardAmount";
@import "./components/Card/graphic";
@import "./components/Card/list";
@import "./components/Card/cardGraphics";


@import "./components/asidebar";
.savingsGoals-container{
    min-height: 611px;
    width: 100%;
    display: flex;
}

