.dashboard{
    width: 100%;
    article{
    margin:2rem 0 2rem 0;  
    
    }
    .dashboard-first-article{ 
        display: flex;
        justify-content: space-between;
        
       }
       .dashboard-second-article{
        div{
            display: flex;
            justify-content: space-between;
            
        }
       }
      
    
    
}