.dashboard{
    width: 100%;
    section{
        display: flex;
        justify-content: space-around;
        .card{
            background-color: $white-color;
           border:$card-border ; 
           border-radius:$card-borderRadius;
        }
       
        
    }
    .cardGraphics{
        display: flex;
        justify-content: center;
        background-color: $white-color;
        border:$card-border ; 
       border-radius:$card-borderRadius;
       width: 100%;//cambiar a 100% cuando tenga contenid
       height: 30rem;//cambiar a 100% cuando tenga contenido
       align-items: center; 
       margin: 5rem;
    }
    .addButton{
        background: $background-buttonDefault;
        color: $white-color;
        border:$card-border ; 
        border-radius:$card-borderRadius;
        &:default{
            background: $background-buttonDisable;
        }
        &:hover{
            background: $background-buttonHover;
            color: aqua;
        }       
        &:active{
            background: $background-buttonActive;
        }
        
    }
}