
.Graphic-ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
}
.Graphic{
    background-color: $white-color; 
    width: 50%;
    height:200px;
    border-radius: $card-borderRadius;
    
}
.Graphic-date{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    background-color: $white-color;
    border: $card-border;
    border-radius: $card-borderRadius;
    width: 32%;
    
    h3{
        width: 100%;
    }
    .Graphic{
        width: 100%;
        border-radius: $card-borderRadius;
       
    }
}